* {
  font-family: "montserrat";
}

.container {
  padding: 0 85px;
}

.bg {
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  position: absolute;
  background-position: 155px 0;
}

.bg h1 {
  text-align: center;
  margin-bottom: 110px;
  margin-top: 220px;
  margin: 220px 217px 110px 217px;
  font-weight: 400;
  font-size: 70px;
  color: #515076;
}

.card-content h2 {
  color: #a5a3b9;
  margin: 5px 0 5px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.cards {
  display: flex;
  flex-wrap: wrap; /* перенос карточек на новую строку */
  justify-content: center; /* центрируем все карточки по горизонтали */
  gap: 45px; /* расстояние между карточками */
}

article {
  width: 340px;
  height: 573px;

  display: flex;
  flex-direction: column;

  background-color: #f7f7fa;
}

.card-content {
  margin: 0 25px 0 25px;
}

.img-card {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 25px;
  display: block;
  width: 290px;
  height: 245px;
}
